{% extends "base.html" %}{% block page %}
    &#91;<a href="/">Return</a>&#93;<div class="catalogmode">Catalog mode</div>
    <table border="1" align="center">{% for row in rows %}
      <tr>{% for post in row %}
        <td valign="middle">
          <a href="/res/{{ post.postid }}.html" title="{{ post.subject }}"><img src="/cat/{{ post.key }}/{{ post.thumb_filename }}" alt="{{ post.postid }}" border="0"></a><br>
          <small>{{ post.posts }}</small>
        </td>{% endfor %}
      </tr>{% endfor %}
    </table>
    <hr>{% endblock %}