{% extends "base.html" %}{% block page %}{% if administratorview %}
    <style type="text/css">
    body {
      background-color: #ffefef !important;
    }
    </style>{% endif %}{% if replythread %}
    &#91;<a href="/{% if administratorview %}?admin=view{% endif %}">Return</a>&#93;<div class="replymode">Posting mode: Reply</div>{% endif %}
    <div class="postarea">
      <form name="postform" id="postform" action="{% if form_action %}{{ form_action }}{% else %}/post{% endif %}" method="post" enctype="multipart/form-data">{% if replythread %}
      <input type="hidden" name="parent" value="{{ replythread }}">{% endif %}
      <input type="hidden" name="MAX_FILE_SIZE" value="{{ MAX_FILE_SIZE }}">
      <table class="postform">
        <tbody>
          <tr>
            <td class="postblock">
              Name
            </td>
            <td>
              <input type="text" name="name" size="34" maxlength="75" accesskey="n"{% if editing_post %} value="{{ editing_name }}"{% else %}>
              <input type="checkbox" name="anonymous" id="anonymous" onclick="javascript:anonymouscheckbox(this);"> <label for="anonymous">Display as Anonymous</label{% endif %}>
            </td>
          </tr>
          <tr>
            <td class="postblock">
              Email
            </td>
            <td>
              <input type="text" name="email" size="34" maxlength="75" accesskey="e"{% if editing_post %} value="{{ editing_email }}"{% else %}{% if administratorview %}>
              <input type="checkbox" name="administrator" id="administrator"> <label for="administrator">Display as Administrator</label{% endif %}>{% endif %}
            </td>
          </tr>
          <tr>
            <td class="postblock">
              Subject
            </td>
            <td>  
              <input type="text" name="subject" size="40" maxlength="75" accesskey="s"{% if editing_subject %} value="{{ editing_subject }}"{% endif %}>
              <input type="submit" value="{% if editing_post_id %}Update{% else %}Submit{% endif %}" accesskey="z">&nbsp;(<span id="posttypeindicator">{% if replythread %}{% if editing_post_id %}edit {{ editing_post_id }}{% else %}reply to {{ op_postid }}{% endif %}{% else %}new thread{% endif %}</span>)
            </td>
          </tr>
          <tr>
            <td class="postblock">
              Message
            </td>
            <td>
              <textarea name="message" cols="52" rows="4" accesskey="m">{{ editing_message }}</textarea>
            </td>
          </tr>
          <tr>
            <td class="postblock">
              Video URL
            </td>
            <td>
              <input type="text" name="embeddeddata" size="34"{% if editing_post %} value="{{ editing_embedded_data }}"{% if editing_embedded_data%}>
              <input type="checkbox" name="delembeddeddata" id="delembeddeddata"> <label for="delembeddeddata">delete embedded data</label{% endif %}{% endif %}>
            </td>
          </tr>
          <tr>
            <td class="postblock">
              File<a href="?admin=view" style="text-decoration: none;" accesskey="x">&nbsp;</a>
            </td>
            <td>
              <input type="file" name="file" size="35" accesskey="f">{% if editing_post %}{% if editing_post_has_image %}
              <input type="checkbox" name="deleteimage" id="deleteimage"> <label for="deleteimage">delete image</label>{% endif %}{% endif %}
            </td>
          </tr>{% if not editing_post %}
          <tr>
            <td class="postblock">
              Password
            </td>
            <td>
              <input type="password" name="password" size="8" accesskey="p" autocomplete="off">&nbsp;(for post and file deletion)
            </td>
          </tr>{% endif %}
          <tr>
            <td colspan="2" class="rules">
              <ul style="margin-left: 0; margin-top: 0; margin-bottom: 0; padding-left: 0;">
                <li>Supported file types are: GIF, JPG, PNG</li>
                <li>Maximum file size allowed is {{ maxsize_display }}.</li>
                <li>Images greater than {{ maxdimensions}}x{{ maxdimensions}} pixels will be thumbnailed.</li>
                <li><!--<a href="/search">Search posts</a>, TODO --><a href="/catalog.html">View catalog</a></li>
                <li>Supported <a href="/marking.html">marking</a>.</li>
                <li>kumo is open source software.  <a href="https://github.com/tslocum/kumo">Fork kumo on GitHub</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      </form>
    </div>
    <script type="text/javascript"><!--
      set_inputs("postform");
    //--></script>
    <hr>
    <form id="delform" action="/delete" method="post">{% for thread in threads %}{% for post in thread.posts %}{% if post.parentid %}
    <table>
    <tbody>
    <tr>
    <td class="doubledash">
      &gt;&gt;
    </td>
    <td class="reply" id="reply{{ post.postid }}">{% else %}{% if post.image %}
    <span class="filesize">File: <a href="/src/{{ post.key() }}/{{ post.image_filename }}" onclick="javascript:expandimg('{{ post.postid }}', '/src/{{ post.key() }}/{{ post.image_filename }}', '/thumb/{{ post.key() }}/{{ post.thumb_filename }}', '{{ post.image_width }}', '{{ post.image_height }}', '{{ post.thumb_width }}', '{{ post.thumb_height }}');return false;">{{ post.image_filename }}</a> -({{ post.image_size_formatted }}, {{ post.image_width }}x{{ post.image_height }}{% if replythread %}, {{ post.image_original }}{% endif %})</span>
    <br>
    <a target="_blank" href="/src/{{ post.key() }}/{{ post.image_filename }}">
      <span id="thumb{{ post.postid }}"><img src="/thumb/{{ post.key() }}/{{ post.thumb_filename }}" alt="{{ post.postid }}" class="thumb" width="{{ post.thumb_width }}" height="{{ post.thumb_height }}"></span>
    </a>{% else %}{% if post.embedded_data %}
    <div>{{ post.embedded_data|safe }}</div>{% else %}{% if post.image_deleted %}<span class="filesize">File: <span><i>&lt;deleted&gt;</i></span></span><br><div class="nothumb">Image<br>deleted</div>{% endif %}{% endif %}{% endif %}{% endif %}{% if post.deleted %}
    <span class="omittedposts">No. {{ post.postid }} has been deleted.</span>{% else %}
    <a name="{{ post.postid }}"></a>
    <a name="{{ post.key() }}"></a>
    <label>
      <input type="checkbox" name="delete" value="{{ post.key() }}">{% if post.subject %}
      <span class="filetitle">
      {{ post.subject }}
      </span>{% endif %}
      {{ post.nameblock|safe }}
      {{ post.date_formatted }}
    </label>
    <span class="reflink">
      <a href="{% if replythread %}#{{ post.postid }}" onclick="javascript:highlight('{{ post.postid }}');{% else %}/res/{{ thread.op_postid }}.html#{{ post.postid }}{% endif %}">No.</a>
      {% if replythread %}<a href="#i{{ post.postid }}" onclick="insert('>>{{ post.postid }}');">{% else %}<a href="/res/{{ thread.op_postid }}.html#i{{ post.postid }}">{% endif %}{{ post.postid }}</a>
    </span>{% if not post.parentid %}{% if not replythread %}
    &nbsp;[<a href="/res/{{ thread.op_postid }}.html{% if administratorview %}?admin=view{% endif %}">Reply</a>]{% endif %}{% endif %}{% if administratorview %}
     [<a href="/admin/delete/{{ post.key() }}">D{% if post.image %}</a> - <a href="/admin/delete_image/{{ post.key() }}">DI{% endif %}</a> - <a href="/admin/ban/{{ post.key() }}">B</a> - <a href="/admin/edit/{{ post.key() }}">E</a>]{% endif %}{% if post.parentid %}{% if post.image %}
    <br>
    <span class="filesize">File: <a href="/src/{{ post.key() }}/{{ post.image_filename }}" onclick="javascript:expandimg('{{ post.postid }}', '/src/{{ post.key() }}/{{ post.image_filename }}', '/thumb/{{ post.key() }}/{{ post.thumb_filename }}', '{{ post.image_width }}', '{{ post.image_height }}', '{{ post.thumb_width }}', '{{ post.thumb_height }}');return false;">{{ post.image_filename }}</a> -({{ post.image_size_formatted }}, {{ post.image_width }}x{{ post.image_height }}{% if replythread %}, {{ post.image_original }}{% endif %})</span>
    <br>
    <a target="_blank" href="/src/{{ post.key() }}/{{ post.image_filename }}">
      <span id="thumb{{ post.postid }}"><img src="/thumb/{{ post.key() }}/{{ post.thumb_filename }}" alt="{{ post.postid }}" class="thumb" width="{{ post.thumb_width }}" height="{{ post.thumb_height }}"></span>
    </a>{% else %}{% if post.embedded_data %}
    <div>{{ post.embedded_data|safe }}</div>{% else %}{% if post.image_deleted %}<div class="nothumb">Image<br>deleted</div>{% endif %}{% endif %}{% endif %}{% endif %}
    <blockquote>
    {% if replythread %}{{ post.message|safe }}{% else %}{% if post.short_message %}{{ post.short_message|safe }}<div class="abbrev">
      <br>Message too long. <a href="/res/{{ thread.op_postid }}.html#{{ post.postid }}">Full text</a>.</div>{% else %}{{ post.message|safe }}{% endif %}{% endif %}
    </blockquote>{% endif %}{% if not post.parentid %}{% if not replythread %}{% if thread.replieshidden %}
    <span class="omittedposts">
      {{ thread.replieshidden }} post{{ thread.replieshidden|pluralize }} omitted.  Click <a href="/res/{{ thread.op_postid }}.html{% if administratorview %}?admin=view{% endif %}">Reply</a> to view.
    </span>{% endif %}{% endif %}{% else %}
    </td>
    </tr>
    </tbody>
    </table>{% endif %}{% endfor %}
    <br clear="left">
    <hr>{% endfor %}
    <table class="userdelete">
    <tbody>
    <tr>
    <td>
    Delete Post [<input type="checkbox" name="imageonly" id="imageonly"><label for="imageonly">Image Only</label>]<br>Password <input type="password" name="password" size="8" autocomplete="off">&nbsp;<input name="deletepost" value="Delete" type="submit">
    </td>
    </tr>
    </tbody>
    </table>
    </form>
    <script type="text/javascript"><!--
      set_delpass("delform");
    //--></script>{% if not replythread %}
    <table border="1">
      <tbody>
        <tr>
          {{ pages|safe }}
        </tr>
      </tbody>
    </table>{% endif %}{% endblock %}
