{% extends "base.html" %}{% block page %}{% if loggedin %}
    Welcome, <b>{{ user_prefs.user }}</b>.  Any posts you make will be authored under your account.
    <h2>Your statistics</h2>
    Total posts: <b>{{ user_prefs.posts }}</b> (of which, <b>{{ user_prefs.posts_sage }}</b> were "sage" posts){% else %}
    You are not currently logged in.  Any posts you make will not be tied to any account.{% endif %}
    <hr>
    <a href="{{ account_url }}">{{ account_url_linktext }}</a>
    <hr>{% endblock %}